pydantic
termcolor
python-dotenv
FLAML
diskcache
Pillow
docker
openai
aioconsole
aiohttp
tiktoken
protobuf
google-api-python-client
typing-extensions
opentelemetry-api
asyncio_atexit
jsonref
playwright
markitdown
opencv-python
ffmpeg-python
azure-core
azure-identity
langchain_core
# openai-whisper
# google-generativeai==0.3.2